<!DOCTYPE html>
<!--
localhost/intranet/apps/noteTaking/noteTaking.html	
localhost/intranet/varios/vue/menus/mnu4_04.html

vue add external js
https://stackoverflow.com/questions/45047126/how-to-add-external-js-scripts-to-vuejs-components

-->
<html lang="en">
<head>
	<title>Note Taking</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" href="noteTaking.css">

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- SyntaxHighlighter -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeEmacs.min.css" />


</head>

<body>
	
<div id="app">
</div>


<script>

// fnn JS generales

function syntaxOn() {
	SyntaxHighlighter.highlight()
	console.log("syntaxOn")
}	

function vercapa(id) {
	if (!document.getElementById) return false;
	//imgm = "img"+id
	fila = document.getElementById(id);
	if (fila.style.display != "none") {
		fila.style.display = "none"; //ocultar fila
		//document.getElementById(imgm).src = "http://192.168.167.91/intranet/chollotravel/images/flecha_abajo.png";
	} else {
		fila.style.display = ""; //mostrar fila
		//document.getElementById(imgm).src = "http://192.168.167.91/intranet/chollotravel/images/flecha_drcha.png";
	}
}



// para depurar llamada
axios.interceptors.response.use(response => {
	console.log('Response:', response.data)
	return response
})


let globales = {
	isOpen: true
}

//	<div class='notadetalle' v-html='note'>

Vue.component('Detalle',{
	template: //html
	`
	<div>
		<div v-html='nota'>
			{{nota}}
		</div>		
	</div>
	`,
	props: ['nota']
})

Vue.component('Navbar',{
	template: //html
	`
	<div>
		<div id="menu" class="nav abierto">
			<a href="#" class="close" @click="closeSlide">
				<i class="fas fa-times"></i>
			</a>

  			<div v-for="grupo in datosh.opciones">
				<a href="#" @click="eleccion(grupo.id)">
     				{{ grupo.titulo }} - ({{grupo.nro}})
				</a>
  			</div>
		</div>
	</div>
	`,
	mounted () {
		console.log('navbar - mounted');
  	},			
	props: ['datosh'],
	methods:{
		closeSlide() {
			document.getElementById('menu').classList.remove("abierto");
			document.getElementById('panel').classList.remove("abierto");
			document.getElementById('menu').classList.add("cerrado");
			document.getElementById('panel').classList.add("cerrado");
			globales.isOpen = false;
		},
	    eleccion: function(item) {
	        //console.log(item)
	        this.$root.$emit('eEleccion',item);
	    },
	},
})


Vue.component('Panel',{
	template: //html
	`
	<div id="panel" class="abierto">

		<div>
			<span class="titruta slide">
				<a href="#" @click="openSlide">
					<i class="fas fa-bars"></i>
				</a>
			</span>

			<div v-for="enlace in datosh.ruta" class="titruta">
					<a href="#" @click="eleccion(enlace.id)">
						{{ enlace.titulo }}
					</a> - 
			</div>
		</div>

		<h1 class="titgrupo">
			{{datosh.nota.titulo}} - modelo: {{datosh.nota.modelo}}, id: {{datosh.nota.id}} 
		</h1>
		<div v-if="datosh.nota.modelo != 2">
			<div v-for="grupo in datosh.notas">
				<div class='notatitulo'>
					<a href="#" @click="eleccion(grupo.id)">
						{{ grupo.titulo }}
					</a>
				</div>
				<Detalle :nota="grupo.nota"></Detalle>	
			</div>		
		</div>		

		<div v-else>
			<div style="max-width:65%">
				<ul class="notas">
					<li v-for="grupo in datosh.notas">
						<a href="#" @click="eleccion(grupo.id)">
	    					{{ grupo.titulo }} <span v-if="grupo.nro > 0">- ({{grupo.nro}})</span> 
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
	`,
	mounted () {
		console.log("Panel - mounted")
  	},	
	props: ['datosh'],
	methods:{
		openSlide() {
			if (!globales.isOpen) {
				document.getElementById('menu').classList.remove("cerrado");
				document.getElementById('panel').classList.remove("cerrado");
				document.getElementById('menu').classList.add("abierto");
				document.getElementById('panel').classList.add("abierto");
				globales.isOpen = true;
			} else {
				this.closeSlide();
			}	
		},
		closeSlide() {
			document.getElementById('menu').classList.remove("abierto");
			document.getElementById('panel').classList.remove("abierto");
			document.getElementById('menu').classList.add("cerrado");
			document.getElementById('panel').classList.add("cerrado");
			globales.isOpen = false;
		},
	    eleccion: function(item) {
	        //console.log(item)
	        this.$root.$emit('eEleccion',item);
	    }
	}	
})

//new Vue({							// como anomino o como var ¿cal es la dif?
	// 		    datos:{nota:{modelo: 0}}
const app = new Vue({
	el: '#app',
	template: //html
	`
	<div>
		<Navbar :datosh="datos"></Navbar>
		<Panel :datosh="datos" v-if="isMounted"></Panel>	
	</div>
	`,		
    methods: {
		getDatos: function(id) {
	        let objectToSend = {
                id: id
            };
		    axios
				.get('http://localhost/intranet/apps/noteTaking/noteTaking_api.php', { params: objectToSend })
				.then(
					response => {
						this.datos = response.data.datos
					})
				.catch(error => {
					console.log(error)
					this.errored = true
				})
				.finally(() => {
    				console.log('2 - main - getDatos finish');		
					this.loading = false
					this.isMounted = true
    				syntaxOn();
				})
	    }				
	},
	data(){
		return {
		    loading: true,
		    errored: false,		    
		    isMounted: false,		    
		    datos: {}
		}
	},
	mounted: function () {
    	//this.fetchEvents();
    	console.log('main - mounted');
    	this.getDatos(0);

  		this.$root.$on('eEleccion',(valor) =>	{
  			console.log("main - mounted - EEleccion valor recibido:"+valor)
  			this.getDatos(valor);
  		});
	},
})

// datos:{nota:{modelo: 0}}


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJava.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushPhp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.min.js"></script>

</body>
</html>
